<div class="member">
<h2>會員中心</h2>
<div class="row" style="padding-top: 60px">
    <%= render "shared/member-side" %>
	<div class="content col-md-9">
		<%= @user.email %>
	</div>
	</div>
</div> <!-- /member -->