<div class="shopping_steps text-center">
  <div class="step_normal <%= 'current' if active == 1 %> inline">
    <div class="step_number rounded-circle">1</div>
        商品確認
    </div>
    <div class="step_arrow inline"><i class="fas fa-caret-right"></i></div>
    <div class="step_normal <%= 'current' if active == 2 %> inline">
      <div class="step_number rounded-circle">2</div>
      填寫資料
    </div>
    <div class="step_arrow inline"><i class="fas fa-caret-right"></i></div>
    <div class="step_normal <%= 'current' if active == 3 %> inline">
      <div class="step_number rounded-circle">3</div>
      訂單完成
    </div>
</div> <!-- /shopping_steps -->