.userform{
	padding-top: 90px;
	h2{
		color: #212121;
	    font-size: 22px;
	    font-weight: 500;
	    line-height: 100%;
	    padding-bottom: 40px;
	}
	.btn{
		font-size: 18px;
		padding: 0;
		height: 60px;
		line-height: 60px;
	}
}

.inner{
	width: 100%;
	max-width: 480px;
}