/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800");
@import "bootstrap-custom";
@import "cycle";
@import "device";
@import "product";
@import "recipe";
@import "cart";

html{
  scroll-behavior: smooth;
}

.btn{
	outline: none !important;
	box-shadow: none;
}

body, #header{
	background-image: url('../assets/shf_bkg.jpg');
  background-position: left top;
  background-repeat: repeat;
}

body {
    font-family: "PingFang TC", "Helvetica Neue", "Helvetica", "Microsoft JhengHei", 微軟正黑體, "Arial", sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: #444444;
    background-color: #FBF7EF;
}

p.normal{
  color: #444444;
  font-size: 18px;
  font-weight: 400;
  line-height: 200%;
}

.post-title{
  color: #444444;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 125%;
}

.mid-title {
  color: #444444;
  font-size: 46px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 100%;
}

#header{
  &.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 600;
  }
}

#nav{
  a{
    color: #000;
  }
  .active{
    color: $primary;
  }
}

.tline {
    border-top: 1px solid #DEDEDE;
}

.isDisabled {
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
}

.categories{
  list-style: none;
  li{
    display: inline-block;
    a{
      color: #444444;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 60px;
      padding: 0 15px;
      -webkit-transition: color 0.6s ease;
      -moz-transition: color 0.6s ease;
      -ms-transition: color 0.6s ease;
      -o-transition: color 0.6s ease;
      transition: color 0.6s ease;
      &:hover, &.active{
        color: $primary;
      }
    }
  }
}

.list-head{
  padding: 30px 15px 0 15px;
}

.list{
  h2{
    color: #212121;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 100%;
    padding-bottom: 10px;
  }
}

.section{
  padding-bottom: 80px;
}

.section-header{
  padding-bottom: 40px;
}

.section-heading{
  color: $primary;
  font-size: 36px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 0;
  padding-bottom: 11px;
}

.section-sub{
  line-height: 160%;
}

.section-en {
  color: $primary;
  font-size: 16px;
  width: 300px;
  letter-spacing: 2px;
  line-height: 100%;
}

.product-item{
	padding-bottom: 80px;
}

.section-right{
  .row{
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 767px) {
  .section-object{
    padding-bottom: 20px;
  }

  .section-header{
    padding-bottom: 20px;
  }
}


.shop-item-img{
	position: relative;
    margin-bottom: 23px;
    border: none;
    overflow: hidden;
    display: block;
}

.shop-item-img:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transform: translateZ(0);
  mix-blend-mode: color-dodge;
  background-color: rgba(81, 81, 81, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.6s ease;
  -moz-transition: opacity 0.6s ease;
  -ms-transition: opacity 0.6s ease;
  -o-transition: opacity 0.6s ease;
  transition: opacity 0.6s ease;
}

.shop-item-img:hover:before {
  opacity: 1;
}

.shop-item-img img {
  -webkit-transition: transform 0.6s ease;
  -moz-transition: transform 0.6s ease;
  -ms-transition: transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
}

.shop-item-img:hover img {
  transform: scale(1.1);
}

.shop-item-name {
    color: #212121;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 127%;
    margin-bottom: 0;
    padding-bottom: 20px;
    a{
    	color: #212121;
    }
}

.shop-item-price {
    color: #FF6925;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 100%;
    &.big{
      font-size: 24px;
    }
}

.shop-list-options{
	padding-top: 30px;
}

.shop-list-option{
  margin-bottom: 20px;
}

.input-group-btn .btn{
  height: 60px;
  line-height: 60px;
  padding-top: 0;
  padding-bottom: 0;
}

.shop-list-title{
  color: #212121;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.12px;
  line-height: 60px;
  white-space: nowrap;
}

.article{
  color: #444444;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  line-height: 172%;
  img{
    max-width: 100%;
    height: auto;
  }
}

.breadcrumb{
  padding-bottom: 20px;
  span{
    padding: 0 10px;
  }
  a{
    color: #444;
  }
}

.field{
  padding-bottom: 20px;
  display: flex;
}

.select-sm{
  width: 100%;
  height: 38px;
}

.form-control{
  height: 60px;
}

.col-form-control {
  width: calc(100% - 110px);
}

.col-form-label {
  width: 110px;
  color: #444444;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 10px;
  white-space: nowrap;
}

@media screen and (min-width: 767px) {
  .order-col:nth-child(1){
    padding-right: 40px;
  } 

  .order-col:nth-child(2){
    padding-left: 40px;
  } 
}

.radio{
  font-size: 18px;
  line-height: 60px;
  position: relative;
  padding-right: 10px;
  display: inline-block;
  input{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 25%;
  }
  i{
    width: 24px;
    height: 24px;
    background: #FFFFFF;
    border: 2px solid #D8D8D8;
    border-radius: 50%;
    margin-right: 10px;
    transform: translateY(20%);
    display: inline-block;
    &:before{
      content: " ";
      position: absolute;
      top: 5px;
      left: 5px;
      opacity: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: black;
      opacity: 0;
    }
  }
  input:checked + i:before{
    opacity: 1;
  }
}

.note{
  font-size: 16px;
  padding-top: 12px;
}

.tag_goods{
  padding: 50px 0 25px 0;
}

.tag-item {
    color: #444444;
    font-size: 16px;
    line-height: 100%;
    border-radius: 20px;
    letter-spacing: 0.5px;
    padding: 12px 16px;
    margin: 0 14px 14px 0;
    background: #edede5;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
    display: inline-block;
    &:hover, &.active{
      font-weight: 500;
      color: #EDE8E5;
      background: #444444;
    }
}

.tag-link-item {
    color: #B28C6B;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.89px;
    line-height: 145%;
    -webkit-transition: color 0.6s ease;
    -moz-transition: color 0.6s ease;
    -ms-transition: color 0.6s ease;
    -o-transition: color 0.6s ease;
    transition: color 0.6s ease;
}

.member{
  padding-top: 40px;
}

.mid-wrap{
  max-width: 770px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.side-nav{
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li{
    line-height: 100%;
    padding-bottom: 24px;
    letter-spacing: 1px;
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid transparent !important;
    color: #444444;
    font-size: 18px;
    font-weight: 400;
  }
  a{
    color: #444444;
    font-size: 18px;
    font-weight: 400;
  }
}

.controll{
  padding-top: 40px;
  display: block;
}

#footer{
	padding-top: 100px;
	padding-bottom: 40px;
}

