<div class="list">
	<div class="row">
	<% @products.each do |product| %>
		<div class="product-item col-sm-4">
			<%= link_to image_tag(product.image.url, class: "img-fluid"), product_path(product), class: "shop-item-img" if product.image.url %>
			<h2 class="shop-item-name"><%= link_to product.title, product_path(product) %></h2>
			<div class="shop-item-price">NT$ <%= product.price %></div>
			<div class="shop-list-options">
				<%= link_to "加入購物車", add_cart_path(product.id), method: :put, class: "btn btn-success" %>
			</div>
		</div>
	<% end %>
	</div> <!-- /row -->
</div> <!-- /list -->